.footer .wrapper {
    background: #060613;
    border-top: 3px solid $secondary-color;
    position: relative;
}

.footer__social-links {
    font-size: 2rem;

    a {
        padding: 10px;
        transition: 0.5s;
    }
}

.footer .wrapper {
    p {
        color: $color-light;
        margin-top: 20px;
    }
}

.back-to-top {
    font-size: 40px;
    padding: 5px 10px;
    background: $secondary-color;
    color: $color-light;
    position: absolute;
    bottom: 100px;
    right: 100px;
    transition: 0.5s;

    &:hover {
        color: $secondary-color;
        background: $color-light;
    }
}